<a href="https://colab.research.google.com/github/Venkata-Charan-Bejawada/FML_CHARAN_513/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
s1 = pd.Series([4,5,7,8])
print(s1)

0    4
1    5
2    7
3    8
dtype: int64

In [ ]:
import pandas as pd 
import numpy as np
s1 = np.array(['black','red','green','yellow'])
S2 = pd.Series(s1)
print(S2)

0     black
1       red
2     green
3    yellow
dtype: object

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({
    "C1" :[1,4,5,6],
    "C2" :['books','bags','pens','pencils'],
    "C3" :[True,False,True,False]
    })
print(df1)

   C1       C2     C3
0   1    books   True
1   4     bags  False
2   5     pens   True
3   6  pencils  False

In [ ]:
import pandas as pd
list=[1,2,34,56,75]
df=pd.DataFrame(list)
print(df)

    0
0   1
1   2
2  34
3  56
4  75

In [ ]:
import pandas as pd
student=[[513,'charan'],[527,'bhanu'],[542,'tarun']]
df2=pd.DataFrame(student)
print(df2)

     0       1
0  513  charan
1  527   bhanu
2  542   tarun

In [ ]:
import pandas as pd
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df3 = pd.DataFrame(items, columns=['Item', 'Price'], dtype=float)
print(df3)

    Item   Price
0  Phone  2000.0
1     TV  1500.0
2  Radio   800.0

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
import pandas as pd
df3.describe()

             Price
count     3.000000
mean   1433.333333
std     602.771377
min     800.000000
25%    1150.000000
50%    1500.000000
75%    1750.000000
max    2000.000000

In [ ]:
import pandas as pd
data = pd.read_csv('submission.csv')
print(data)

     Unnamed: 0  data
0             0     0
1             1     1
2             2     2
3             3     3
4             4     4
..          ...   ...
995         995   995
996         996   996
997         997   997
998         998   998
999         999   999

[1000 rows x 2 columns]

In [ ]:
data.head()

   Unnamed: 0  data
0           0     0
1           1     1
2           2     2
3           3     3
4           4     4

In [ ]:
data.tail()

     Unnamed: 0  data
995         995   995
996         996   996
997         997   997
998         998   998
999         999   999

In [ ]:
data.head(3)

   Unnamed: 0  data
0           0     0
1           1     1
2           2     2

In [ ]:
import pandas as pd
data = pd.read_csv('submission.csv')

In [ ]:
data.columns

Index(['Unnamed: 0', 'data'], dtype='object')

In [ ]:
data['data']

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Name: data, Length: 1000, dtype: int64

In [ ]:
import pandas as pd
d1 ={
    'stu_id' : ['1','2','3','4'],
    'stu_name' : ['charan','bhanu','tarun','murthy']
}
d2 ={
    'stu_id' : ['3','4','8','9'],
     'stu_name' : ['koushik','ramdas','kiran','ravi']
}
df1 = pd.DataFrame(d1,columns =['stu_id','stu_name'])
df2 = pd.DataFrame(d2,columns =['stu_id','stu_name'])
print(df1)
print(df2)

  stu_id stu_name
0      1   charan
1      2    bhanu
2      3    tarun
3      4   murthy
  stu_id stu_name
0      6  koushik
1      7   ramdas
2      8    kiran
3      9     ravi

In [ ]:
import pandas as pd
d1 ={
    'stu_id' : ['1','2','3','4'],
    'stu_name' : ['charan','bhanu','tarun','murthy']
}
d2 ={
    'stu_id' : ['3','4','8','9'],
     'stu_name' : ['koushik','ramdas','kiran','ravi']
}
df1 = pd.DataFrame(d1,columns =['stu_id','stu_name'])
df2 = pd.DataFrame(d2,columns =['stu_id','stu_name'])
pd.merge (df1,df2, on='stu_id')

  stu_id stu_name_x stu_name_y
0      3      tarun    koushik
1      4     murthy     ramdas

In [ ]:
import pandas as pd
group = df1.groupby('stu_id') 
print(group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fc0d65a4670>

In [ ]:
print(pd.concat([df1, df2]))

  stu_id stu_name
0      1   charan
1      2    bhanu
2      3    tarun
3      4   murthy
0      3  koushik
1      4   ramdas
2      8    kiran
3      9     ravi

In [ ]:
data = {
    'Name': ['John', 'Alice', 'Joseph', 'Alex'],
    'English': [64, 78, 68, 58],
    'Maths': [76, 54, 72, 64]
}

df = pd.DataFrame(data)
df.describe()

         English      Maths
count   4.000000   4.000000
mean   67.000000  66.500000
std     8.406347   9.712535
min    58.000000  54.000000
25%    62.500000  61.500000
50%    66.000000  68.000000
75%    70.500000  73.000000
max    78.000000  76.000000